* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    width: 100%;
}

th {
    position: sticky;
    font-size: 15px;
    background: rgb(210, 210, 210);
    height: 40px;
}

td {
    font-size: 14px;
    background: #fff;
    height: 40px;
}

.wrapper {
    width: 1000px;
    margin: auto;
}

.wrapper .upperBox {
    background: skyblue;
    width: 1000px;
    height: 60px;
    margin-top: 100px;
}

#edit, #seller {
    text-align: center;
}

#mNum, #mName, #mId, #mEmail, #mPhone, #mAddr, #currentJoin {
    padding-left: 7px;
}