* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    width: 800px;
}

#upperbox {
    height: 110px;
    margin: 45px 0px 0px;
}

#upperbox > p {
    display: inline-block;
    font-size: 46px;
}

#upperbox > span {
    font-size: 14px;
    font-weight: 600;
    color: gray;
    padding-left: 12px;
}

#lowerbox {
    height: 160px;
}

#innerbox1 {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#innerbox1 > p > span {
    font-weight: 900;
}

#innerbox1 > p {
    text-align: center;
}

#innerbox2 {
    height: 160px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

#innerbox2 > p {
    font-size: 20px;
    margin-right: 10px;
}

#innerbox2 > input[type=password] {
    width: 300px;
    height: 40px;
    margin-right: 10px;
    padding-left: 10px;
    font-size: 30px;
}

#innerbox2 > input[type=button] {
    width: 120px;
    height: 40px;
    font-size: 24px;
    color: #fff;
    background: #f58;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
}